* {
    background: #F3F5FC;
    font-family: 'Inter';
    font-weight: 400;
    /*font-size: 32px;*/
    color: #0A3871;
}

body {
    margin: auto;
    flex-direction: column;
    display: flex;
    min-height: 95vh;
}

header {
    text-align: center;
    margin: 3px 3px;
}

header .titulo {
    font-size: 16px;
    margin: 0;
}

header .parrafo {
    font-size: 13px;
    margin: 3px 3px;
}

.logo {
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

.contend {
    margin-left: 15%;
}

.rectangulo {
    margin-left: 68%;
    /*background-color: #ffffff;*/
    width: 300px;
    height: 535px;
    border-radius: 32px;
    top: 40px;
    box-shadow: 0px 24px 32px -8px #00000014;
    display: flex;
    align-items: center;
    align-content: flex-start;
    position: fixed;
    flex-wrap: wrap;
}

.img {
    width: 300px;
    height: 304px;
}

.copiar {
    margin-top: 24px;
}

.p {
    width: 290px;
    height: 418px;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #495057;
    letter-spacing: 0em;
    text-align: center;
    border: 0;
    background: #00000000;
    appearance: none;
    outline: none;
    resize: none;
    overflow: auto;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje {
    width: 300px;
    height: 67px;
    display: block;
}

.btnCopiar {
    border-style: solid;
    border-color: #0A3871;
    color: #0A3871;
    background: #00000000;
}

.text1 {
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
    color: #343A40;
}

.text2 {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #495057;
}

textarea::placeholder {
    color: #0A3871;
}

.it {
    width: 680px;
    height: 288px;
}

.texto {
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    color: #0A3871;
    letter-spacing: 0em;
    text-align: left;
    padding: 0%;
    background: #00000000;
    appearance: none;
    border: none;
    outline: none;
    resize: none;
}

.restriccion {
    width: 229px;
    height: 18px;
    margin-left: 0;
    gap: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #495057;
}

.botones {
    margin-top: 68px;
    margin-left: 115px;
    height: 50px;
}

.btnEncriptar,
.btnDesencriptar,
.btnCopiar {
    border-radius: 15px;
    width: 260px;
    height: 50px;
    cursor: pointer;
    transition: 300ms;
    margin: 0 10px;
}

.btnEncriptar {
    border: none;
    color: #ffffff;
    background: #0A3871;
}

.btnDesencriptar {
    border-style: solid;
    border-color: #0A3871;
    color: #0A3871;
    background: #00000000;
}

.btnEncriptar:hover,
.btnDesencriptar:hover,
.btnCopiar:hover {
    transform: scale(1.1);
}

footer {
    margin-top: auto;
}

.copyright {
    color: #1fb037;
    font-size: 13px;
    margin: auto;
    text-align: center;
}


/* Estilos para iPads en orientaci칩n horizontal (ancho m치ximo de 768px) */

@media (max-width: 900px) {
    body {
        margin: auto;
        flex-direction: column;
        display: flex;
        min-height: 95vh;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-items: stretch;
    }
    .contend {
        margin-left: 40px;
        margin-top: 20px;
    }
    .it {
        width: 98%;
        height: 250px;
    }
    .rectangulo {
        height: 282px;
        margin: 0%;
        min-width: 100%;
        top: 600px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .p {
        width: 100%;
        height: 181px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .btnEncriptar,
    .btnDesencriptar,
    .btnCopiar {
        border-radius: 15px;
        width: 260px;
        height: 50px;
        cursor: pointer;
        transition: 300ms;
        margin: 10px 10px;
    }
    .btnCopiar {
        margin-left: 28px;
        width: 500px;
    }
    .copiar {
        width: 95%;
    }
    .btnEncriptar:hover,
    .btnDesencriptar:hover,
    .btnCopiar:hover {
        transform: scale(1.1);
    }
    .img {
        display: none;
        /* Oculta la imagen en dispositivos m칩viles */
    }
    .mensaje {
        width: 634px;
        height: 67px;
        margin-top: 60px;
    }
    .botones {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .copyright {
        color: #1fb037;
        font-size: 13px;
        margin: auto;
        text-align: center;
    }
}


/* Estilos para dispositivos con ancho menor a 400px */

@media screen and (max-width:480px) {
    body {
        margin: auto;
        flex-direction: column;
        display: flex;
        min-height: 95vh;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-items: stretch;
    }
    .contend {
        margin-left: 0px;
        margin-top: 20px;
    }
    .it {
        margin-left: 5%;
        width: 98%;
        height: 110px;
        font-size: 20px;
    }
    .text1 {
        width: 100%;
        height: 0%;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        text-align: center;
        color: #343A40;
    }
    .rectangulo {
        height: 200px;
        margin: 0%;
        min-width: 100%;
        top: 60%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
    .p {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .btnEncriptar,
    .btnDesencriptar,
    .btnCopiar {
        border-radius: 15px;
        width: 260px;
        height: 50px;
        cursor: pointer;
        transition: 300ms;
        margin: 10px 10px;
    }
    .btnCopiar {
        margin-left: 28px;
        width: 260px;
    }
    .copiar {
        width: 95%;
    }
    .btnEncriptar:hover,
    .btnDesencriptar:hover,
    .btnCopiar:hover {
        transform: scale(1.1);
    }
    .img {
        display: none;
        /* Oculta la imagen en dispositivos m칩viles */
    }
    .mensaje {
        width: 634px;
        height: 67px;
        margin-top: 60px;
    }
    .restriccion {
        text-align: center;
    }
    .botones {
        margin: 0px 25% 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .copyright {
        color: #1fb037;
        font-size: 13px;
        margin: auto;
        text-align: center;
    }
}